// Couleurs personnalisées
$primary: #55198b;
$secondary: #aaa5ff;
$gray: #868e96;
$lightgray: #f3efef;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$dark: #171c28;
$white: #ffffff;